In [16]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../DB/dirty_cafe_sales.csv")

In [11]:
df.iloc[9985]

Transaction ID      TXN_3297457
Item                       Cake
Quantity                      2
Price Per Unit              3.0
Total Spent                 6.0
Payment Method              NaN
Location                UNKNOWN
Transaction Date     2023-01-03
Name: 9985, dtype: object

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

Tratando os dados faltantes

In [ ]:
# Passando o "UNKNOWN" e o "ERROR" para NaN
df.replace({
    "UNKNOWN": np.nan,
    "ERROR": np.nan
    }, inplace=True)

In [22]:
# Excluindo todas as linhas que tenham pelo menos 1 na
df.dropna() #igual a df.dropna(how='any')

# Criterios pro dropna
# df.dropna(how='all')

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
...,...,...,...,...,...,...,...,...
9975,TXN_9668108,Cake,1,3.0,3.0,Cash,In-store,2023-01-20
9979,TXN_9933628,Smoothie,5,4.0,20.0,Cash,In-store,2023-07-20
9986,TXN_2858441,Sandwich,2,4.0,8.0,Credit Card,In-store,2023-12-14
9991,TXN_3897619,Sandwich,3,4.0,12.0,Cash,Takeaway,2023-02-24
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [ ]:
# preenchendo os NaN
df["Total Spent"] = df["Total Spent"].astype("Float32")

# df["Total Spent"].fillna(df["Total Spent"].mean()) #com a média

df["Total Spent"].fillna(0) #com 0

0        4.0
1       12.0
2        0.0
3       10.0
4        4.0
        ...
9995     4.0
9996     3.0
9997     8.0
9998     3.0
9999    12.0
Name: Total Spent, Length: 10000, dtype: Float32