In [1]:
import pandas as pd

transacoes = pd.read_csv("../DB/transacoes.csv", sep=";")

transacoes.head()

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem
0,0000520a-a4e5-4977-b360-17be62fa0f2b,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-09-17 12:28:41.864,1,twitch
1,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
2,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,30f45a6d-ada5-4a17-8338-710e414eb6c6,2025-09-17 13:38:57.479,1,twitch
3,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch
4,0000e94f-fb76-42b7-82e3-5059b6e40703,3884c92f-a635-4b67-9e5a-97730829cdca,2024-02-05 13:27:18.987,1,twitch

In [13]:
import numpy as np

def dif_amp(x: pd.Series):
    amp = x.max()-x.min()
    mean = x.mean()
    return np.sqrt((amp - mean)**2)

def life_time(x: pd.Series):
    df = pd.to_datetime(x)
    return (df.max() - df.min()).days

In [14]:
group = transacoes.groupby(by=["IdCliente"]).agg(
    {"IdTransacao":["count"],
     "QtdePontos":["mean", "sum", dif_amp],
     "DtCriacao":[life_time]}

)

group

                                     IdTransacao QtdePontos         \
                                           count       mean    sum
IdCliente
000ff655-fa9f-4baa-a108-47f581ec52a1         512  48.996094  25086
001749bd-37b5-4b1e-8111-f9fbba90f530           1  50.000000     50
0019bb9e-26d4-4ebf-8727-fc911ea28a92           2   1.000000      2
0033b737-8235-4c0f-9801-dc4ca185af00         548   4.673358   2561
0068860b-c7eb-4312-830d-4ab9273c9b15           3  33.666667    101
...                                          ...        ...    ...
ff07d926-f09e-420b-bebf-3dba02ae5dff           6   9.166667     55
ff1ceaef-650c-422b-bdc3-6984e29e7aa5          15  10.800000    162
ff2cabd3-3316-4b3f-8494-c25f95e90524           8   7.125000     57
ff4909ad-4e52-4767-a6fc-0fbd76e37857           1  50.000000     50
ff5d2399-6b53-49f0-b41e-fdaaa0da172a         285   2.547368    726

                                                  DtCriacao
                                          dif_amp life_time
IdCliente
000ff655-fa9f-4baa-a108-47f581ec52a1  1451.003906       571
001749bd-37b5-4b1e-8111-f9fbba90f530    50.000000         0
0019bb9e-26d4-4ebf-8727-fc911ea28a92     1.000000        37
0033b737-8235-4c0f-9801-dc4ca185af00    94.326642       321
0068860b-c7eb-4312-830d-4ab9273c9b15    15.333333         1
...                                           ...       ...
ff07d926-f09e-420b-bebf-3dba02ae5dff    39.833333        75
ff1ceaef-650c-422b-bdc3-6984e29e7aa5    38.200000         2
ff2cabd3-3316-4b3f-8494-c25f95e90524    41.875000         0
ff4909ad-4e52-4767-a6fc-0fbd76e37857    50.000000         0
ff5d2399-6b53-49f0-b41e-fdaaa0da172a    46.452632        37

[3223 rows x 5 columns]