In [1]:
import pandas as pd

In [4]:
ages = [21,29,30,22,19,31,24,35,44,21,30,33,20,28,18,35]

ages = pd.Series(ages)

In [8]:
print(ages.min(), ages.max(), ages.mean())

18 44 27.5

In [13]:
clientes = pd.read_csv("../DB/clientes.csv", sep=";")
clientes.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,002970bd-65c2-42bf-a17d-2bc5e95e2f0b,0,1,0,0,0,0,2025-07-16 09:36:45.831,2025-07-16 09:36:45.831
4,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,2561,2025-02-19 12:48:24.632,2025-08-04 12:06:09.677

In [17]:
#m√©dia das pessoas que usam cada rede social

redes_sociais = ["flEmail","flTwitch","flYouTube","flBlueSky","flInstagram"]

print(clientes[redes_sociais].mean())

flEmail        0.022824
flTwitch       0.615751
flYouTube      0.000000
flBlueSky      0.000000
flInstagram    0.000000
dtype: float64

In [33]:
#media de todas as colunas inteiras

clientes[clientes.dtypes[~(clientes.dtypes == "object")].index].mean()

flEmail          0.022824
flTwitch         0.615751
flYouTube        0.000000
flBlueSky        0.000000
flInstagram      0.000000
qtdePontos     442.943316
dtype: float64