In [ ]:
import pandas as pd

In [ ]:
df_clientes = pd.read_csv(r"C:\Users\kauan\Desktop\projeto\TEO ME WHY\Aula pandas TMW\DB\clientes.csv", sep=';')

In [12]:
df_clientes

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao,Tot_cont
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697,0
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,0
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,0
3,002970bd-65c2-42bf-a17d-2bc5e95e2f0b,0,1,0,0,0,0,2025-07-16 09:36:45.831,2025-07-16 09:36:45.831,1
4,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,2561,2025-02-19 12:48:24.632,2025-08-04 12:06:09.677,1
...,...,...,...,...,...,...,...,...,...,...
3982,ff1ceaef-650c-422b-bdc3-6984e29e7aa5,0,0,0,0,0,162,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,0
3983,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892,1
3984,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,0
3985,ff5d2399-6b53-49f0-b41e-fdaaa0da172a,0,1,0,0,0,726,2025-08-25 13:09:12.556,2025-10-02 13:23:03.467,1
3986,ff8d55dc-64fa-40de-992a-04a4155f5634,0,1,0,0,0,0,2025-07-12 13:50:37.959,2025-07-12 13:50:37.959,1

In [ ]:
#Quantas contas cadastradas cada pessoa tem ? E quem tem mais de uma conta?
df_clientes["Tot_cont"] = df_clientes["flEmail"] + df_clientes["flTwitch"] + df_clientes["flYouTube"] + df_clientes["flBlueSky"] + df_clientes["flInstagram"]


filtro = df_clientes["Tot_cont"] >= 2
df_clientes[filtro]

In [10]:
import numpy as np

In [13]:
#Aplicando ln na coluna quantidade de pontos

np.log(df_clientes["qtdePontos"])

c:\Users\kauan\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

0       10.130065
1        3.912023
2        0.693147
3            -inf
4        7.848153
          ...
3982     5.087596
3983     4.043051
3984     3.912023
3985     6.587550
3986         -inf
Name: qtdePontos, Length: 3987, dtype: float64