In [2]:
import pandas as pd

In [3]:
df_clientes = pd.read_csv("../DB/clientes.csv", sep=';')

In [14]:
#Quem s√£o os 5 primeiros que mais tem pontos?

df_clientes.sort_values(by="qtdePontos", ascending=False).head(5)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
1283,4fade907-6e0f-4581-a674-aad6622b1b10,0,1,0,0,0,44464,2025-03-07 12:59:27.541,2025-10-02 14:17:04.429
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
473,1b08989c-039d-4c82-879b-0f56159a1ebb,0,1,0,0,0,17615,2025-03-07 12:56:55.709,2025-10-02 14:09:54.683
3401,d7f7eb75-4f0b-4d15-960d-8efe5ca7dd7e,0,0,0,0,0,16828,2025-03-07 12:36:50.254,2025-10-01 11:58:44.218
704,2a9d4ba3-4c58-47f9-8dc4-6f9cb50be1b1,1,1,0,0,0,16680,2025-03-07 12:59:11.756,2025-10-02 12:18:04.883