In [1]:
import pandas as pd

df_1 = pd.DataFrame({
    "cliente": [1, 2, 3, 4, 5],
    "nome": ["teo", "jose", "nah", "mah", "lah"],
    "cidade": ["SP", "RJ", "SP", "BH", "Curitiba"]
})

df_2 = pd.DataFrame({
    "cliente": [6, 7, 8, 9],
    "nome": ["kozato", "laura", "dan", "bia"],
    "idade": [32, 29, 31, 25]
})

df_3 = pd.DataFrame({
    "nome": ["rafa", "ana", "leo"],
    "cliente": [10, 11, 12],
    "cidade": ["Recife", "SP", None],
    "idade": [40, None, 22]
})

df_4 = pd.DataFrame({
    "cliente": [13, 14],
    "nome": ["marcos", "juliana"],
    "idade": [35, 28],
    "cidade": ["Porto Alegre", "Natal"],
    "ativo": [True, False]
})

In [6]:
pd.concat([df_1,df_2], axis=1)

   cliente  nome    cidade  cliente    nome  idade
0        1   teo        SP      6.0  kozato   32.0
1        2  jose        RJ      7.0   laura   29.0
2        3   nah        SP      8.0     dan   31.0
3        4   mah        BH      9.0     bia   25.0
4        5   lah  Curitiba      NaN     NaN    NaN