In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"C:\Users\kauan\Desktop\projeto\TEO ME WHY\Aula pandas TMW\DB\clientes.csv", sep=";")

In [ ]:
# df.head() #come√ßo
# df.tail() #final
df.sample(n=5) #Amostra aleatoria

In [ ]:
print(f'tupla = {df.shape}, linhas = {df.shape[0]} e colunas = {df.shape[1]}')

In [38]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3987 entries, 0 to 3986
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   idCliente      3987 non-null   object
 1   flEmail        3987 non-null   int64
 2   flTwitch       3987 non-null   int64
 3   flYouTube      3987 non-null   int64
 4   flBlueSky      3987 non-null   int64
 5   flInstagram    3987 non-null   int64
 6   qtdePontos     3987 non-null   int64
 7   DtCriacao      3987 non-null   object
 8   DtAtualizacao  3987 non-null   object
dtypes: int64(6), object(3)
memory usage: 1.1 MB

In [43]:
df.dtypes['flYouTube']

dtype('int64')

In [45]:
df.rename(columns={
    'idCliente':'iddocliente',
    'DtCriacao':'datadacriacao'
}, inplace=True)

In [53]:
df['DtAtualizacao']

0       2025-09-26 13:28:37.697
1       2024-02-01 00:00:00.000
2       2024-02-01 00:00:00.000
3       2025-07-16 09:36:45.831
4       2025-08-04 12:06:09.677
                 ...
3982    2024-02-01 00:00:00.000
3983    2025-02-10 12:37:47.892
3984    2024-02-01 00:00:00.000
3985    2025-10-02 13:23:03.467
3986    2025-07-12 13:50:37.959
Name: DtAtualizacao, Length: 3987, dtype: object

In [64]:
# Ordenando as colunas em ordem crescente

df = df[df.columns.sort_values()].head(5)

In [65]:
df

,DtAtualizacao,datadacriacao,flBlueSky,flEmail,flInstagram,flTwitch,flYouTube,iddocliente,qtdePontos
0,2025-09-26 13:28:37.697,2024-02-01 00:00:00.000,0,0,0,0,0,000ff655-fa9f-4baa-a108-47f581ec52a1,25086
1,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,0,0,0,0,0,001749bd-37b5-4b1e-8111-f9fbba90f530,50
2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,0,0,0,0,0,0019bb9e-26d4-4ebf-8727-fc911ea28a92,2
3,2025-07-16 09:36:45.831,2025-07-16 09:36:45.831,0,0,0,1,0,002970bd-65c2-42bf-a17d-2bc5e95e2f0b,0
4,2025-08-04 12:06:09.677,2025-02-19 12:48:24.632,0,0,0,1,0,0033b737-8235-4c0f-9801-dc4ca185af00,2561