In [13]:
import pandas as pd

In [ ]:
df_transact = pd.read_csv("../DB/transacoes.csv", sep=";")

In [15]:
# Qt de pontos igual a 1 ou 100 em 2025

filtro1 = ((df_transact['QtdePontos'] == 1) | (df_transact['QtdePontos'] == 100))&(df_transact['DtCriacao'] >='2025-01-01')

df_transact[filtro1].sort_values("DtCriacao", ascending=0)

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem
27699,1c06e833-ead2-4d56-b1b5-ca2032f36dd4,a6e4050d-a9e0-4fcc-9022-b1d4d849f16f,2025-10-02 14:18:34.879,1,twitch
162000,a59552d9-284e-4854-b0d2-818cd9dfb0f6,70845f41-0fdb-4f8f-910b-5b3ac34fb562,2025-10-02 14:18:04.669,1,twitch
99090,6588da4d-149b-4390-a278-65326c49e6c9,c609fb20-e579-4e83-a4b1-c38a66632d60,2025-10-02 14:18:01.260,1,twitch
10662,0adf2aaf-dc83-46dc-b186-cc7fa3c86f6a,564ab6da-2ad3-4c5f-9e59-60de8d89fbcc,2025-10-02 14:17:58.724,1,twitch
196513,c8d7b359-40e5-4906-a42a-5469b11aba4a,62158a69-7ef1-4f04-a196-2046f1ffdf36,2025-10-02 14:17:58.631,1,twitch
...,...,...,...,...,...
134864,8a0d8176-e2dd-4fc0-a53d-803c68a6428c,4fade907-6e0f-4581-a674-aad6622b1b10,2025-01-02 11:32:33.300,1,twitch
141829,912c061e-d3f4-48ea-af24-8a4d67b3cef1,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-01-01 23:42:26.766,100,twitch
84406,568a7d69-65ef-4be5-acfe-41ee7ec4825e,6313ceac-7806-4d34-aedd-476eed7c853a,2025-01-01 23:05:18.470,100,twitch
206891,d377e603-afb8-4ec8-9755-acdc8e5e9316,820c0e06-c405-4979-8975-ecfa17abb0f9,2025-01-01 12:22:55.555,100,twitch
169157,acea1a73-751f-4057-8516-9cc508a12eba,820c0e06-c405-4979-8975-ecfa17abb0f9,2025-01-01 12:22:55.534,100,twitch

In [16]:
# Qt de pontos diferente de 100

filtro2 = ~(df_transact['QtdePontos'] == 100)
df_transact[filtro2]

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem
0,0000520a-a4e5-4977-b360-17be62fa0f2b,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-09-17 12:28:41.864,1,twitch
1,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
2,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,30f45a6d-ada5-4a17-8338-710e414eb6c6,2025-09-17 13:38:57.479,1,twitch
3,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch
4,0000e94f-fb76-42b7-82e3-5059b6e40703,3884c92f-a635-4b67-9e5a-97730829cdca,2024-02-05 13:27:18.987,1,twitch
...,...,...,...,...,...
250390,ffff45c7-83dc-4fa9-82b5-b41352093596,6313ceac-7806-4d34-aedd-476eed7c853a,2025-01-03 12:59:27.229,1,twitch
250391,ffff52de-13fb-4405-a797-fddb5b4a48c5,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-24 12:22:26.313,1,twitch
250392,ffffb5ab-047e-43e4-bab3-ee2d19e9b7db,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,2024-08-16 13:09:42.576,1,twitch
250393,ffffc72e-d882-47f0-b933-cfd92c7e6621,2d3d2dce-d353-4961-ad39-46723efe2100,2024-02-06 11:51:24.788,1,twitch
250394,fffff928-9a18-4741-a516-3a92351d1d72,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-08-21 14:13:31.788,1,twitch

In [19]:
df_clientes = pd.read_csv(r"C:\Users\kauan\Desktop\projeto\TEO ME WHY\Aula pandas TMW\DB\clientes.csv", sep=";")

In [38]:
filtro4 = ~(df_clientes["qtdePontos"] == 0)
clientesnot0pts = df_clientes.loc[filtro4].copy()
clientesnot0pts['Amoca'] = 1
clientesnot0pts

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao,Amoca
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697,1
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,1
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,1
4,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,2561,2025-02-19 12:48:24.632,2025-08-04 12:06:09.677,1
6,0068860b-c7eb-4312-830d-4ab9273c9b15,0,1,0,0,0,101,2025-09-29 13:28:20.255,2025-10-01 11:54:29.612,1
...,...,...,...,...,...,...,...,...,...,...
3981,ff07d926-f09e-420b-bebf-3dba02ae5dff,0,1,0,0,0,55,2025-01-21 11:49:58.172,2025-04-07 11:34:12.074,1
3982,ff1ceaef-650c-422b-bdc3-6984e29e7aa5,0,0,0,0,0,162,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,1
3983,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892,1
3984,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,1
3985,ff5d2399-6b53-49f0-b41e-fdaaa0da172a,0,1,0,0,0,726,2025-08-25 13:09:12.556,2025-10-02 13:23:03.467,1