In [2]:
import pandas as pd

transacoes = pd.read_csv("../DB/transacoes.csv", sep=";")

transacoes.head()

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem
0,0000520a-a4e5-4977-b360-17be62fa0f2b,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-09-17 12:28:41.864,1,twitch
1,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
2,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,30f45a6d-ada5-4a17-8338-710e414eb6c6,2025-09-17 13:38:57.479,1,twitch
3,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch
4,0000e94f-fb76-42b7-82e3-5059b6e40703,3884c92f-a635-4b67-9e5a-97730829cdca,2024-02-05 13:27:18.987,1,twitch

In [4]:
clientes = pd.read_csv("../DB/clientes.csv", sep=";")

clientes.columns = ["IdCliente", "flEmail", "flTwitch", "flYouTube", "flBlueSky", "flInstagram", "qtdePontos", "DtCriacao", "DtAtualizacao"]

clientes.head()

,IdCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,002970bd-65c2-42bf-a17d-2bc5e95e2f0b,0,1,0,0,0,0,2025-07-16 09:36:45.831,2025-07-16 09:36:45.831
4,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,2561,2025-02-19 12:48:24.632,2025-08-04 12:06:09.677

In [12]:
transacoes.merge(right=clientes, how="left", on=["IdCliente"], suffixes=["_transacao", "_clientes"])

,IdTransacao,IdCliente,DtCriacao_transacao,QtdePontos,DescSistemaOrigem,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao_clientes,DtAtualizacao
0,0000520a-a4e5-4977-b360-17be62fa0f2b,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-09-17 12:28:41.864,1,twitch,0,1,0,0,0,2249,2025-03-07 13:13:37.524,2025-10-01 12:10:44.489
1,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch,0,1,0,0,0,1966,2024-11-29 11:36:40.662,2025-04-28 11:33:29.687
2,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,30f45a6d-ada5-4a17-8338-710e414eb6c6,2025-09-17 13:38:57.479,1,twitch,0,1,0,0,0,2611,2025-03-07 12:27:12.379,2025-10-01 14:26:28.033
3,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch,1,1,0,0,0,6815,2025-03-07 12:39:26.765,2025-10-02 13:21:06.117
4,0000e94f-fb76-42b7-82e3-5059b6e40703,3884c92f-a635-4b67-9e5a-97730829cdca,2024-02-05 13:27:18.987,1,twitch,0,0,0,0,0,114,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
250390,ffff45c7-83dc-4fa9-82b5-b41352093596,6313ceac-7806-4d34-aedd-476eed7c853a,2025-01-03 12:59:27.229,1,twitch,0,1,0,0,0,2040,2025-03-07 12:41:02.305,2025-10-02 12:43:09.376
250391,ffff52de-13fb-4405-a797-fddb5b4a48c5,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-24 12:22:26.313,1,twitch,1,1,0,0,0,6815,2025-03-07 12:39:26.765,2025-10-02 13:21:06.117
250392,ffffb5ab-047e-43e4-bab3-ee2d19e9b7db,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,2024-08-16 13:09:42.576,1,twitch,0,1,0,0,0,3706,2025-03-07 13:13:26.026,2025-10-02 14:17:47.017
250393,ffffc72e-d882-47f0-b933-cfd92c7e6621,2d3d2dce-d353-4961-ad39-46723efe2100,2024-02-06 11:51:24.788,1,twitch,0,1,0,0,0,3984,2025-03-07 12:40:51.664,2025-10-02 12:11:24.736
250394,fffff928-9a18-4741-a516-3a92351d1d72,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-08-21 14:13:31.788,1,twitch,0,1,0,0,0,1298,2025-03-07 13:13:25.571,2025-10-02 12:55:22.089