In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("../DB/clientes.csv", sep=";")

In [3]:
df

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,002970bd-65c2-42bf-a17d-2bc5e95e2f0b,0,1,0,0,0,0,2025-07-16 09:36:45.831,2025-07-16 09:36:45.831
4,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,2561,2025-02-19 12:48:24.632,2025-08-04 12:06:09.677
...,...,...,...,...,...,...,...,...,...
3982,ff1ceaef-650c-422b-bdc3-6984e29e7aa5,0,0,0,0,0,162,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3983,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
3984,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3985,ff5d2399-6b53-49f0-b41e-fdaaa0da172a,0,1,0,0,0,726,2025-08-25 13:09:12.556,2025-10-02 13:23:03.467
3986,ff8d55dc-64fa-40de-992a-04a4155f5634,0,1,0,0,0,0,2025-07-12 13:50:37.959,2025-07-12 13:50:37.959

In [8]:
#convertendo a coluna qtdePontos para float

df["qtdePontos"].astype(float)

0       25086.0
1          50.0
2           2.0
3           0.0
4        2561.0
         ...
3982      162.0
3983       57.0
3984       50.0
3985      726.0
3986        0.0
Name: qtdePontos, Length: 3987, dtype: float64

In [13]:
#convertendo a coluna DtCriacao para data
#Supondo que há uma data igual 0000-00-00 00:00:00.000, deve-se usar um replace

df["DtCriacao"].replace({"0000-00-00 00:00:00.000" : None}, inplace=True)

# df.info()

pd.to_datetime(df["DtCriacao"])

0      2024-02-01 00:00:00.000
1      2024-02-01 00:00:00.000
2      2024-02-01 00:00:00.000
3      2025-07-16 09:36:45.831
4      2025-02-19 12:48:24.632
                 ...
3982   2024-02-01 00:00:00.000
3983   2025-02-10 11:12:30.631
3984   2024-02-01 00:00:00.000
3985   2025-08-25 13:09:12.556
3986   2025-07-12 13:50:37.959
Name: DtCriacao, Length: 3987, dtype: datetime64[ns]