In [2]:
import pandas as pd

In [3]:
df_clientes = pd.read_csv("../DB/clientes.csv", sep=';')

In [4]:
df_clientes

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,002970bd-65c2-42bf-a17d-2bc5e95e2f0b,0,1,0,0,0,0,2025-07-16 09:36:45.831,2025-07-16 09:36:45.831
4,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,2561,2025-02-19 12:48:24.632,2025-08-04 12:06:09.677
...,...,...,...,...,...,...,...,...,...
3982,ff1ceaef-650c-422b-bdc3-6984e29e7aa5,0,0,0,0,0,162,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3983,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
3984,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3985,ff5d2399-6b53-49f0-b41e-fdaaa0da172a,0,1,0,0,0,726,2025-08-25 13:09:12.556,2025-10-02 13:23:03.467
3986,ff8d55dc-64fa-40de-992a-04a4155f5634,0,1,0,0,0,0,2025-07-12 13:50:37.959,2025-07-12 13:50:37.959

In [5]:
#Quantas contas cadastradas cada pessoa tem ? E quem tem mais de uma conta?
df_clientes["Tot_cont"] = df_clientes["flEmail"] + df_clientes["flTwitch"] + df_clientes["flYouTube"] + df_clientes["flBlueSky"] + df_clientes["flInstagram"]


filtro = df_clientes["Tot_cont"] >= 2
df_clientes[filtro]

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao,Tot_cont
388,156857a6-b4a5-467b-9616-6641f8bda12b,1,1,0,0,0,2825,2025-03-07 12:01:29.341,2025-03-26 12:11:22.812,2
433,1856963a-84cb-453e-a139-eb7d8d9b3255,1,1,0,0,0,597,2025-03-07 11:54:11.700,2025-10-02 14:16:11.763,2
471,1ae9441a-706b-4e92-b309-18f69812c044,1,1,0,0,0,912,2025-02-19 11:00:50.264,2025-09-11 13:32:11.840,2
477,1b56823a-1f42-43ef-9295-a587f2eb9e78,1,1,0,0,0,2901,2025-02-10 10:59:28.743,2025-04-07 13:09:19.526,2
704,2a9d4ba3-4c58-47f9-8dc4-6f9cb50be1b1,1,1,0,0,0,16680,2025-03-07 12:59:11.756,2025-10-02 12:18:04.883,2
743,2d228697-7f11-4a40-a7a8-16ee5e1bc1a9,1,1,0,0,0,716,2024-12-07 21:10:49.534,2024-12-07 21:10:49.534,2
832,326ce9d4-ce4a-48e6-90df-d1b7c6e58153,1,1,0,0,0,949,2024-02-01 00:00:00.000,2025-10-02 13:09:29.455,2
892,368c7fc1-c3eb-4873-9921-666cb05389a1,1,1,0,0,0,4426,2025-02-13 11:26:09.344,2025-09-30 14:43:38.481,2
905,37208871-4ac4-4535-80f5-88edac047646,1,1,0,0,0,439,2025-02-05 12:14:55.526,2025-02-05 12:14:55.526,2
959,3ae8fa88-1c7a-4304-94f0-128da10f4a10,1,1,0,0,0,4563,2025-02-28 12:03:45.513,2025-09-22 14:03:40.948,2
1060,41f925fd-9aa0-4043-9774-212c538133cc,1,1,0,0,0,12670,2025-03-06 11:48:20.416,2025-03-06 11:48:20.416,2
1130,46119557-7ce9-488f-9225-47d539dd414e,1,1,0,0,0,3342,2025-02-28 13:37:30.834,2025-02-28 13:37:30.834,2
1210,4ae7fd3e-d286-4156-ad7f-553e46c683ea,1,1,0,0,0,743,2025-03-06 12:03:03.176,2025-09-26 14:25:36.108,2
1235,4c915b76-878f-471a-a6c1-e418288d51f7,1,1,0,0,0,704,2025-02-12 12:02:50.124,2025-09-05 12:05:23.651,2
1248,4d39bad4-acd2-434c-a965-88e6d917e80e,1,1,0,0,0,1590,2025-03-07 12:17:36.751,2025-10-02 12:10:37.601,2
1461,5b7a7182-854c-42f3-b459-752bd3e4f0bf,1,1,0,0,0,1357,2025-02-05 12:57:02.140,2025-09-29 12:10:31.668,2
1506,5ed09fff-c0eb-48db-b6e3-20ef238e8b5c,1,1,0,0,0,1413,2025-03-07 12:23:52.635,2025-10-02 12:00:12.276,2
1518,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,1,1,0,0,0,6815,2025-03-07 12:39:26.765,2025-10-02 13:21:06.117,2
1676,6a26f8cf-64d4-4337-9880-1284a75d2957,1,1,0,0,0,3153,2024-12-20 12:37:34.524,2025-06-25 12:27:16.498,2
1714,6d1fa358-39c4-4973-b6a7-83fa2ec2a62c,1,1,0,0,0,1518,2024-12-09 11:55:10.594,2025-09-29 12:34:26.751,2
1852,75792660-3271-4dea-afa9-88e862ba54e7,1,1,0,0,0,655,2025-02-12 11:46:01.493,2025-02-12 11:46:01.493,2
1938,7af74d57-b6ac-42db-8093-f0fa8fb9a29f,1,1,0,0,0,1739,2025-03-06 11:50:39.767,2025-03-06 11:50:39.767,2
1950,7be4584b-288b-4027-a2fe-29d206313917,1,1,0,0,0,5639,2025-02-28 12:24:07.381,2025-03-10 11:30:04.372,2
1989,7df60476-b880-485a-9430-ededf50a9bbb,1,1,0,0,0,5326,2025-02-19 11:15:15.353,2025-10-01 13:26:31.310,2
2650,a7649e0c-92dd-42fe-bb36-d6f0aaaa8638,1,1,0,0,0,2157,2025-02-05 12:55:04.373,2025-06-06 13:15:41.540,2
2841,b3ff004d-46ea-4d64-97fe-80a46280dbda,1,1,0,0,0,1690,2024-10-31 11:39:38.289,2025-03-11 11:39:25.945,2
2898,b8585fb7-9338-4f00-992a-07cf857e6e14,1,1,0,0,0,2139,2025-03-07 12:55:28.102,2025-03-19 11:51:27.110,2
3102,c52fb72f-b3dc-4650-9182-b08b5ed1420a,1,1,0,0,0,784,2024-02-01 00:00:00.000,2025-10-02 14:17:14.989,2
3172,c934a164-436f-4b4e-a718-780715e6bf18,1,1,0,0,0,2416,2024-11-06 23:41:37.640,2024-11-06 23:41:37.640,2
3191,ca35412d-b340-4e7d-a391-020ec6bb6517,1,1,0,0,0,1451,2025-03-07 11:42:48.926,2025-10-02 12:40:48.333,2
3370,d63096cb-7353-42cd-8644-f3392b01dfec,1,1,0,0,0,2604,2025-01-02 12:26:08.635,2025-08-28 12:14:02.480,2
3515,df695821-6cd6-457e-91b3-33f988c736bc,1,1,0,0,0,1007,2024-10-29 12:01:26.381,2025-07-15 12:23:49.470,2
3546,e15bc9cb-d833-4554-bce2-0bb388f9007f,1,1,0,0,0,12310,2025-02-24 13:02:06.950,2025-06-16 13:48:56.177,2
3643,e7c79c1a-7693-4e63-a844-c755e0bc3bd3,1,1,0,0,0,2262,2025-02-17 11:55:36.136,2025-07-08 12:52:09.921,2

In [6]:
import numpy as np

In [7]:
#Aplicando ln na coluna quantidade de pontos

np.log(df_clientes["qtdePontos"])

c:\Users\kauan\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

0       10.130065
1        3.912023
2        0.693147
3            -inf
4        7.848153
          ...
3982     5.087596
3983     4.043051
3984     3.912023
3985     6.587550
3986         -inf
Name: qtdePontos, Length: 3987, dtype: float64