In [18]:
import pandas as pd

In [19]:
df = pd.read_csv(r"C:\Users\kauan\Desktop\projeto\TEO ME WHY\Aula pandas TMW\DB\Lifestyle_and_Health_Risk_Prediction_Synthetic_Dataset.csv")

In [20]:
df.describe()

               age       weight       height        sleep         bmi
count  5000.000000  5000.000000  5000.000000  5000.000000  5000.00000
mean     48.805600    77.359200   171.933200     6.997060    26.84388
std      17.906991    18.714567    15.822225     1.432849     8.25249
min      18.000000    45.000000   145.000000     3.000000    11.40000
25%      34.000000    61.000000   158.000000     6.000000    20.30000
50%      49.000000    77.000000   171.500000     7.000000    26.00000
75%      64.000000    94.000000   186.000000     8.000000    32.40000
max      79.000000   109.000000   199.000000    10.000000    51.40000

In [21]:
df.loc[25]

age                        47
weight                     62
height                    177
exercise                  low
sleep                     7.4
sugar_intake              low
smoking                    no
alcohol                    no
married                   yes
profession      office_worker
bmi                      19.8
health_risk               low
Name: 25, dtype: object

In [22]:
age_weight_index = df.set_index("weight")["age"]

In [25]:
age.iloc[0]

np.int64(56)

In [26]:
age_sorted = age.sort_values()

In [27]:
print(f"A idade do primeiro da lista é {age_sorted.loc[0]}, a idade do mais novo é {age_sorted.iloc[0]} e a do mais velho é {age_sorted.iloc[-1]}")

A idade do primeiro da lista é 56, a idade do mais novo é 18 e a do mais velho é 79

In [28]:
teste = pd.DataFrame()

In [29]:
teste["Peso"] = df["weight"]
teste["idade"] = df["age"]

In [30]:
peso_da_pessoa_mais_velha = teste.sort_values(by="idade", ascending=0).iloc[0]["Peso"]

In [31]:
df.sort_values(by="age", ascending=0).iloc[0]["weight"]

np.int64(98)

In [32]:
print(f"O peso da pessoa mais velha é {peso_da_pessoa_mais_velha} kg")

O peso da pessoa mais velha é 98 kg